.navbar-custom {
  background-color: #F3E0D2; /* Color de fondo personalizado */
  color: #ffffff; /* Color del texto personalizado */
}

.navbar-custom-dark {
  background-color: #C68E51; /* Color de fondo personalizado */
  color: #ffffff; /* Color del texto personalizado */
}

.bg-div{
background-color: rgba(255, 255, 255, 0);
}

.menuflot{
	-webkit-animation: swing-in-left-fwd 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: swing-in-left-fwd 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.buttonside {
  width: 6rem;
  height: 2.5rem;
  font-family: Georgia;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding-top: 3px;
  padding-right: 19px;
  padding-bottom: 6px;
  padding-left: 19px;
  text-decoration: none;
  text-shadow: 1px 1px 3px #030200;
  border: solid #ffffff 3px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc07d), to(#913c00));
  background: -moz-linear-gradient(top, #ffc07d, #913c00);
}

.buttonsidedark{
  width: 6rem;
  height: 2.5rem;
  font-family: Georgia;
  text-align: center;
  color: #e4e4e4;
  font-size: 18px;
  padding-top: 3px;
  padding-right: 19px;
  padding-bottom: 6px;
  padding-left: 19px;
  text-decoration: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-shadow: 1px 1px 3px #030200;
  border: solid #000000 3px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc07d), to(#913c00));
  background: -moz-linear-gradient(top, #ffc07d, #913c00);
} 
