.navbar-custom {
  background-color: #F3E0D2; /* Color de fondo personalizado */
}

.navbar-custom-dark {
  background-color: #C68E51; /* Color de fondo personalizado */
}

.bg-div{
background-color: rgba(255, 255, 255, 0);
}

.buttonside {
  width: 6rem;
  height: 2.5rem;
  font-family: Georgia;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding-top: 3px;
  padding-right: 19px;
  padding-bottom: 6px;
  padding-left: 19px;
  text-decoration: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-shadow: 1px 1px 3px #030200;
  border: solid #ffffff 3px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc07d), to(#913c00));
  background: -moz-linear-gradient(top, #ffc07d, #913c00);
}

.buttonsidedark{
  width: 6rem;
  height: 2.5rem;
  font-family: Georgia;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding-top: 3px;
  padding-right: 19px;
  padding-bottom: 6px;
  padding-left: 19px;
  text-decoration: none;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-shadow: 1px 1px 3px #030200;
  border: solid #000000 3px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffc07d), to(#913c00));
  background: -moz-linear-gradient(top, #ffc07d, #913c00);
}

.sidebar{
  border: solid #913c00 3px;
   border-radius: 25px;
}

.sidebardark{
  border: solid #000000 3px;
   border-radius: 25px;
}

.sidebarbody{
   border-radius: 20px;
  }