@import "rsuite/dist/rsuite.css";

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow-1 {
  flex-grow: 1;
}

body {
  height: 100h;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.dark-mode-body {
 background-color: #C68E51; /* Color de fondo personalizado */
  color: #ffffff; /* Color del texto personalizado */
}
.iconogpt{
  width: 30px;
  height: 30px;
}

.navbar-custom {
  background-color: #F3E0D2; /* Color de fondo personalizado */
  color: #ffffff; /* Color del texto personalizado */
}

.navbar-custom-dark {
  background-color: rgb(75, 52, 28); /* Color de fondo personalizado */
  color: #ffffff; /* Color del texto personalizado */
}

 .btn-circular{
  border-radius: 50%;
 }